<a href="https://colab.research.google.com/github/james-monahan/Code-school-notebooks/blob/main/Week-16-JSON/Challenge_JSON_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import requests

link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/monthlySalesbyCategoryMultiple.json"

# This function gets the file content from the URL
r = requests.get(link)

# You can access to the text content with this function
r.text

data = json.loads( r.text)

#Now try to import your json file in pandas

In [ ]:
import pandas as pd

In [ ]:
pd.json_normalize(r.json()['contents'],'monthlySales', ['category', 'region'])

       month  sales    category region
0   20130101     38   Furniture   West
1   20130201     35   Furniture   West
2   20130301     41   Furniture   West
3   20130401     55   Furniture   West
4   20130501     58   Furniture   West
5   20130601     66   Furniture   West
6   20130701     74   Furniture   West
7   20130801     78   Furniture   West
8   20130901     38   Furniture   West
9   20131001     30   Furniture   West
10  20131101     26   Furniture   West
11  20131201     29   Furniture   West
12  20130101     54  Technology   West
13  20130201     66  Technology   West
14  20130301     77  Technology   West
15  20130401     70  Technology   West
16  20130501     60  Technology   West
17  20130601     63  Technology   West
18  20130701     55  Technology   West
19  20130801     47  Technology   West
20  20130901     55  Technology   West
21  20131001     30  Technology   West
22  20131101     22  Technology   West
23  20131201     77  Technology   West